@keyframes slideInTop{
  from{
    transform: translateY(-20px);
  }
  to{
    transform: translateY(0);
  }
}
@keyframes slideOutTop{
  from{
    transform: translateY(0);
  }
  to{
    transform: translateY(-20px);
  }
}
/* @-moz-document slideInTop{
  from{
    background: red;
  }
  to{
    background: blue;
  }
}
@-webkit-keyframes slideInTop{
  from{
    background: red;
  }
  to{
    background: blue;
  }
} */